<section id="blog">
  
    
  <div class="columns has-text-centered" id="blog-card">
        <div class="column has-text-left-desktop has-text-left-tablet">
                <!--div class="content has-text-grey"-->  
          <p style="font-size: 20px"><strong>DeepMind (MSc) Scholarship</strong>, 2021.</span></p>
        </div>
  </div> 
  
  <div class="columns has-text-centered" id="blog-card">
        <div class="column has-text-left-desktop has-text-left-tablet">
                <!--div class="content has-text-grey"-->  
          <p style="font-size: 20px"><span>2<sup>nd</sup> Runner Up, Imagine Cup 2016 National Round (Bangladesh), 2016</span></p>
        </div>
    </div> 

    <div class="columns has-text-centered" id="blog-card">
        <div class="column has-text-left-desktop has-text-left-tablet">
          <p style="font-size: 20px"><span><strong>University Merit Scholarship</strong>, awarded by Bangladesh University of Engineering and Technology, in last four semesters.</span></p>
         </div>
    </div>

    <div class="columns has-text-centered" id="blog-card"> 
        <div class="column has-text-left-desktop has-text-left-tablet">
                    <p style="font-size: 20px"><span><strong>Dean’s List of Distinguished Students</strong>, awarded by Bangladesh University of 
                      Engineering and Technology, in two consecutive academic years.</span></p>
        </div>
    </div>
  
    <div class="columns has-text-centered" id="blog-card"> 
        <div class="column has-text-left-desktop has-text-left-tablet">
                    <p style="font-size: 20px"><span><strong>High School General Scholarship</strong>, 2006, awarded by Bangladesh Education Board</span></p>
        </div>
    </div>
</section>
