<section id="blog">
  
    
  <div class="columns has-text-centered" id="blog-card">
        <div class="column has-text-left-desktop has-text-left-tablet">
                <!--div class="content has-text-grey"-->  
          <p style="font-size: 20px"><em>The DeepMind (MSc) Scholarship</em>, 2021, sponsored by <a href="https://deepmind.com/">DeepMind</a>. </span></p>
        </div>
  </div> 
  <br>
  <div class="columns has-text-centered" id="blog-card">
        <div class="column has-text-left-desktop has-text-left-tablet">
                <!--div class="content has-text-grey"-->  
          <p style="font-size: 20px"><span><em>2<sup>nd</sup> Runner Up</em>, Imagine Cup 2016 National Round (Bangladesh), 2016.</span></p>
        </div>
    </div> 
    <br>

    <div class="columns has-text-centered" id="blog-card">
        <div class="column has-text-left-desktop has-text-left-tablet">
          <p style="font-size: 20px"><span><em>University Merit Scholarship</em>, awarded by Bangladesh University of Engineering and Technology, in last four semesters.</span></p>
         </div>
    </div>
    <br>

    <div class="columns has-text-centered" id="blog-card"> 
        <div class="column has-text-left-desktop has-text-left-tablet">
                    <p style="font-size: 20px"><span><em>Dean’s List of Distinguished Students</em>, awarded by Bangladesh University of 
                      Engineering and Technology, in two consecutive academic years.</span></p>
        </div>
    </div>
    <br>

    <div class="columns has-text-centered" id="blog-card"> 
        <div class="column has-text-left-desktop has-text-left-tablet">
                    <p style="font-size: 20px"><span><em>High School General Scholarship</em>, 2006, awarded by Bangladesh Education Board.</span></p>
        </div>
    </div>
</section>
