<head>
    {% include head.html %}
    <style>
        

        /* (C) STYLES FOR THE EVENTS */
        div.event {
          padding: 20px 30px;
          background-color: #ffebeb;
          /*position: absolute;
          top: 20%;
          left: 230px;*/
         
          /*max-width:1000px; */
          margin:0 auto;
          border-radius: 6px;
          margin-bottom: 10px;
          max-width: 85%;
        }

       
    </style>
</head>

<body>

    <section id="blog">
        <div class="hero-body">
            <div class="container">
                <nav class="level has-text-centered">
                <!-- Left side -->
                <div class="center">
                     <p style="font-family: monospace; font-size:50px; border-style: hidden hidden solid hidden;  border-bottom-length: 50px; border-color: #900C3F">EXPERIENCE</p>
                </div>
    
            </div>
        </div>    
    </section> 
        
    <section id="blog">
       
            <div class="event">

                     <div class="columns has-text-centered" id="blog-card">
                        <div class="column has-text-left-desktop has-text-left-tablet">
                                <!--div class="content has-text-grey"-->  
                            <p style="text-align:left; font-size: 20px";>
                                <strong>Graduate Teaching Assistant</strong>
                                <span style="float:right; font-size: 12px";>
                                    <em>September 2021- Present</em>
                                </span>
                            </p>
                               
                            <p style="font-size: 18px"> <a href="https://www.ualberta.ca/index.html" style="color:  #004d1a ;">University of Alberta</a></p>
                            <hr>    
                            <p style="font-size: 16px"> I have been working as a teaching assistant for the course <em>CMPUT 272: Formal Systems and Logic in Computing Science</em>.
                            My responsibilities include, but are not limited to, conducting seminars, grading, monitoring discussion forums, and invigilating exams. </p>
                        </div>
                    </div> 
            <!--/div-->
            
            <!--div class="event"-->
                    <div class="columns has-text-centered" id="blog-card">
                        <div class="column has-text-left-desktop has-text-left-tablet">
                                <!--div class="content has-text-grey"-->  
                            <p style="text-align:left; font-size: 20px;">
                                <strong>Assistant Engineer</strong>
                                <span style="float:right; font-size: 12px;">
                                    <em>On Study Leave</em>
                                </span>
                            </p>
                            <p style="font-size: 18px"><a href="http://www.bpdb.gov.bd/" style="color:  #5c5cd6 ;">Bangladesh Power Development Board, Dhaka.</a></p>
                            <hr>
                            <p style="font-size: 16px"> <em>Bangladesh Power Development Board (BPDB)</em> is one of the largest autonomous organizations responsible 
                                for power generation and distribution governed by the Ministry of Power, Energy and Mineral Resources, Government of the 
                                People’s Republic of Bangladesh. My principal tasks as an assistant engineer were: performing computer-aided statistical data analysis, 
                                monitoring the monthly billing cycle's execution, and web administration. </p>
                        </div>
                    </div> 
            <!--/div-->
            
            <!--div class="event"-->
                    <div class="columns has-text-centered" id="blog-card">
                        <div class="column has-text-left-desktop has-text-left-tablet">
                                <!--div class="content has-text-grey"-->  
                                 <p style="text-align:left; font-size: 20px;">
                                    <strong>Lecturer</strong>
                                    <span style="float:right; font-size: 12px;">
                                        <em>April, 2017 - September, 2018</em>
                                    </span>
                                </p>
                                
                                <p style="font-size: 18px"><a href="https://www.uap-bd.edu/" style="color:  #2d5986 ;">University of Asia Pacific, Dhaka. </a></p>
                                <hr>    
                                <p style="font-size: 16px"> I instructed the courses listed below-</p>
                                        <br>
                                        <ul style="display: list-item;">
                                            <li>&nbsp;&nbsp;&nbsp;- CSE 105: Discrete Mathematics</li>
                                            <li>&nbsp;&nbsp;&nbsp;- CSE 206: Data Structures Lab</li>
                                            <li>&nbsp;&nbsp;&nbsp;- CSE 211: Assembly Language Programming</li>
                                            <li>&nbsp;&nbsp;&nbsp;- CSE 212: Assembly Language Programming Lab</li>
                                            <li>&nbsp;&nbsp;&nbsp;- CSE 322: Database Systems Lab</li>
                                            <li>&nbsp;&nbsp;&nbsp;- CSE 304: Operating Systems Lab</li>
                                        </ul>
                                    
                        </div>
                    </div> 
            </div>
        
   </section>



</body>

