<head>
    {% include head.html %}
    <style>
        

        /* (C) STYLES FOR THE EVENTS */
        div.event {
          padding: 20px 30px;
          background-color: #ffebeb;
          /*position: absolute;
          top: 20%;
          left: 230px;*/
          /*position: relative;
          left: 50%;*/
          width:1000px; 
          margin:0 auto;*/
          border-radius: 6px;
          margin-bottom: 10px;
          /*max-width: 800px;*/
        }

       
    </style>
</head>

<body>

    <section id="blog">
        <div class="hero-body">
            <div class="container">
                <nav class="level has-text-centered">
                <!-- Left side -->
                <div class="center">
                     <p style="font-family: monospace; font-size:50px; border-style: hidden hidden solid hidden;  border-bottom-length: 50px; border-color: #900C3F">EXPERIENCE</p>
                </div>
    
            </div>
        </div>    
    </section> 
        
    <section id="blog">
       
            <div class="event">

                     <div class="columns has-text-centered" id="blog-card">
                        <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
                            <div class="image is-16by9" style="background-image: /home/assets/images/ualbertalogo.jpg;"></div>
                        </div>
                        <div class="column has-text-left-desktop has-text-left-tablet">
                                <!--div class="content has-text-grey"-->  
                                <p style="text-align:left; font-size: 20px";>
                                    Graduate Teaching Assistant
                                    <span style="float:right; font-size: 12px";>
                                        <em>September 2021- Present</em>
                                    </span>
                                </p>
                               
                                <p> <a href="https://www.ualberta.ca/index.html" style="color:  #004d1a ;">University of Alberta</a></p>
                        </div>
                    </div> 
            <!--/div-->
            
            <!--div class="event"-->
                    <div class="columns has-text-centered" id="blog-card">
                        <div class="column has-text-left-desktop has-text-left-tablet">
                                <!--div class="content has-text-grey"-->  
                                <p style="text-align:left; font-size: 20px;">
                                    Assistant Engineer
                                    <span style="float:right; font-size: 12px;">
                                        <em>On Study Leave</em>
                                    </span>
                                </p>
                                <p><a href="http://www.bpdb.gov.bd/" style="color:  #5c5cd6 ;">Bangladesh Power Development Board, Dhaka.</a></p>
                        </div>
                    </div> 
            <!--/div-->
            
            <!--div class="event"-->
                    <div class="columns has-text-centered" id="blog-card">
                        <div class="column has-text-left-desktop has-text-left-tablet">
                                <!--div class="content has-text-grey"-->  
                                 <p style="text-align:left; font-size: 20px;">
                                    Lecturer
                                    <span style="float:right; font-size: 12px;">
                                        <em>April, 2017 - September, 2018</em>
                                    </span>
                                </p>
                                
                                <p><p><a href="https://www.uap-bd.edu/" style="color:  #2d5986 ;">University of Asia Pacific, Dhaka. </a></p>
                        </div>
                    </div> 
            </div>
        
   </section>



</body>

