
<section id="blog">
    <div class="columns has-text-centered" id="blog-card">
        <div class="column has-text-left-desktop has-text-left-tablet">
                <!--div class="content has-text-grey"-->  
                 Abdul Kawsar Tushar, Akm Ashiquzzaman, <strong>Afia Afrin</strong>, and Md. Rashedul Islam, 
                 <a href="https://link.springer.com/chapter/10.1007/978-3-319-71767-8_83" style="color:  #900C3F ;">“A Novel Transfer Learning Approach 
                 upon Hindi, Arabic, and Bangla Numerals using Convolutional Neural Networks”</a>, International Conference on Computational Vision and Bio 
                 Inspired Computing (ICCVBIC 2017), 2017 in Tamil Nadu, India.
        </div>
    </div> 
</section>
<section id="blog">
    <div class="columns has-text-centered" id="blog-card">
        <div class="column has-text-left-desktop has-text-left-tablet">
                   Mahmudur Rahman Hera, Hua-Jun Hong, Amatur Rahman, PeiHsuan Tsai, <strong>Afia Afrin</strong>, Md Yusuf Sarwar Uddin, Nalini Venkatasubramanian and 
                   ChengHsin Hsu, <a href="https://dl.acm.org/doi/abs/10.1145/3152881.3152887" style="color:   #900C3F  ;">
                   “Adaptive Sensing Using Internet-of-Things with Constrained Communications”</a>, Workshop on Adaptive and Reflective Middleware (ARM), co-located 
                   with ACM/ IFIP/ USENIX Middleware, Dec 11-15, 2017, Las Vegas.
         </div>
    </div>
</section>
<section id="blog">
    <div class="columns has-text-centered" id="blog-card"> 
        <div class="column has-text-left-desktop has-text-left-tablet">
                    Mahmudur Rahman Hera, Amatur Rahman, <strong>Afia Afrin</strong>, Md. Yusuf Sarwar Uddin, and Nalini Venkatasubramanian. 
                    <a href="https://ieeexplore.ieee.org/abstract/document/7885824" style="color:  #900C3F ;">“AQBox: An Air Quality Measuring Box from COTS Gas 
                    Sensors.”</a> In Proceedings of 2017 International Conference on Networking Systems and Security (NSysS), IEEE, Jan 5-8, 2017, Dhaka,
                    Bangladesh.
        </div>
        </div>
</section>

