---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
    {% include meta.html %}
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css">
    <script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
    <!--link rel="shortcut icon" href="{% if site.favicon-url %}{{site.favicon-url}}{% else %}{{ 'assets/images/logo.png' | absolute_url }}{% endif %}" type="image/x-icon"-->
</head>    

<body>
    {% include navbar.html %}
    
    <div> <br> <br> <br> </div>
    <section id="blog">
        <div class="hero-body">
            <div class="container">
                <nav class="level has-text-centered">
                <!-- Left side -->
                <div class="center">
                     <p style="font-family: monospace; font-size:50px; border-style: hidden hidden solid hidden;  border-bottom-length: 50px; border-color: #900C3F">PUBLICATIONS</p>
                </div>
    
            </div>
        </div>    
    
        <div> <br> <br> </div>
        <div>
             {% include pub-card.html %}
        </div>
            
        <div> <br> <br> </div>
        <div class="hero-body">
            <div class="container">
                <nav class="level has-text-centered">
                <!-- Left side -->
                <div class="center">
                     <p style="font-family: monospace; font-size:50px; border-style: hidden hidden solid hidden;  border-bottom-length: 50px; border-color: #900C3F">AWARDS & SCHOLARSHIPS</p>
                </div>
    
            </div>
        </div>  
            
        <div> <br> <br> </div>
        <div>
             {% include award-card.html %}
        </div>
    </section>
        
    
     <!--Footer-->
    {% include footer.html %}
</body>

</html>
